
.el-input__inner {
    border-radius: 0 !important;
}

.el-form--inline .el-form-item {
    margin-bottom: 0 !important;
}

.el-table td, .el-table th {
    text-align: center !important;
    font-size: 12px !important;
    font-weight: normal !important;
}

.el-dialog__header {
    padding: 10px;
    font-size: 12px;
    color: #555;
    background-color: #f8f8f8;
}

.el-dialog__title {
    color: #333 !important;
    font-size: 14px !important;
    border-bottom: 1px solid #f2f3f5;
}

.el-dialog__headerbtn {
    top: 10px;
    right: 10px;
}

.table-image {
    width: 30px;
    height: 30px;
    border: 1px dashed #E4E7ED;
    padding: 2px;
    cursor: pointer;
}

.page {
    margin-top: 30px;
    text-align: center;
}

.search-form {
    background: #fff;
    padding: 30px 10px;
    width: 100%;
    box-sizing: border-box;
}

.add-view {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    text-align: right;
}

.table-view {
    background: #ffffff;
    margin-top: 10px;
}


.form-tree {
    max-height: 120px;
    overflow-y: auto;
}

.form-footer{
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.active{
    color: #36b368;
    cursor: pointer;
}

.invalid{
    color: #ff0000;
    cursor: pointer;
}

.dialog-footer{
    display: flex;
    justify-content: flex-end;
}
